footer {
    text-align: center;
    margin-top: 2em;

}

.search-btn {
    margin-top: 14px !important;
}

.ui.icon.input {
    width: 45%;
}

.ui.breadcrumb {
    margin-bottom: 14px !important;
    
}

.ui.grid {
    margin-top: 1rem ;
}