{% extends 'base.html' %}

{% block title %}Add a Book{% endblock title %}

{% block menu_add_book_class %}active{% endblock menu_add_book_class %}

{% block content %}
    <h1 class="ui header">Add a Book</h1>
    <!-- <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add a new book">
    </form> -->

    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            {{ form.title.errors }}
            <label>{{ form.title.label_tag }}</label>
            {{ form.title }}
        </div>
        <div class="field">
            <label>{{ form.author.label_tag }}</label>
            {{ form.author }}
        </div>
        <div class="field">
            <label>{{ form.year.label_tag }}</label>
            {{ form.year }}
        </div>
        <div class="field">
            <label>{{ form.page_count.label_tag }}</label>
            {{ form.page_count }}
        </div>
        <button class="ui primary button" type="submit">Submit</button>
    </form>
{% endblock content %}