{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Django Library | {% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Main Container -->
    <div class="ui raised very padded text container segment">
        <!-- Header -->
        <h2 class="ui center aligned icon header blue">
            <i class="circular book icon"></i>
            Django Library
            <div class="sub header">The Home of the Best Books in the World</div>
        </h2>
        <!-- End Header -->

        <!-- Divider -->
        <div class="ui divider"></div>
        <!-- End Divider -->

        <!-- Menu -->
        <div class="ui three item menu">
            <a href="{% url 'home' %}" class="item {% block menu_home_class %}{% endblock menu_home_class %}">Home</a>
            <a href="{% url 'all-books' %}" class="item {% block menu_book_list_class %}{% endblock menu_book_list_class %}">All Books</a>
            <a href="{% url 'add-book' %}" class="item {% block menu_add_book_class %}{% endblock menu_add_book_class %}">Add a Book</a>
        </div>
        <!-- End Menu -->

        <!-- Content -->
        {% block content %}{% endblock content %}
        <!-- End Content -->

        <!-- Footer -->
        <footer>
            <!-- Divider -->
                <div class="ui divider"></div>
            <!-- End Divider -->
            Created by <a href="https://github.com/mclbdn" target="_blank">@mclbdn</a> in 🇲🇽 lindo. 
        </footer>
        <!-- End Footer -->
    </div>
    <!-- End Main Container -->
</body>
</html>