{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block menu_home_class %}active{% endblock menu_home_class %}

{% block content %}
    <h1 class="ui header">Home</h1>
    {% if books.count == 1 %}
        <p>We currently have {{ books.count }} book in our library.</p>
        <p>If you wish to see it, click <a href="{% url 'all-books' %}">here</a></p>
    {% elif books.count > 1 %}
        <p>We currently have {{ books.count }} books in our library</p>
        <p>If you wish to browse through them, click <a href="{% url 'all-books' %}">here</a>.</p>
    {% else %}
        <p>We currently don't have any books....</p>
    {% endif %}

{% endblock content %}